.exp-container {
    position: absolute;
    right: 0;
}
.exp-container h2 {
    font-weight: 300 !important;
}
.exp-container h6 {
    font-weight: 300 !important;
}

.target-job h3 {
    display: inline;
    font-weight: 300 !important;
}

.target-job .job-change {
    font-size: 0.9rem;
    color: #007bff;
    cursor: pointer;
}

.target-job h2 {
    display: inline;
    color: gray;
}

.checkpoint {
    margin-top: -15px;
    margin-left: 40%;
    border-left: 1px solid;
    padding-left: 10px;
    height: 30px;
}

.checkbox-content {
    display: inline-block;
    position: relative;
    padding-top: 25px;
    margin-left: -15px;
    font-weight: 300;
    cursor: pointer;
}

.checkbox-content .warning {
    margin-top: -9px;
    padding-left: 14px;
    color: #dc3545;
}

.courses {
    display: none;
    position: relative;
    color: white;
    background-color: rgba(0.9, 0.9, 0.9, 0.7);
    z-index: 10;
    padding: 15px 15px 5px 0;
    
    transition: all 0.4s;
}

.checkbox-content:hover .courses {
    display: block;
}

.occupation {
    color: gray;
    font-weight: 300;
}
.reward-item {
    padding: 15px;
    transition: all 0.2s;
    cursor: pointer;
}
.reward-item:hover {
    background-color: aliceblue;
    transition: all 0.2s;
}
.reward-img {
    height: 70px;
}
.rewards-caption {
    font-size: 0.8rem;
    color: gray;
    height: 40px;
}
